[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/sytelus/sytelus.github.io.git
	branch = master
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/sytelus/congo.git
