---
title: 'Chain-of-Thought Verification? Naturally!'
draft: true
date: 2023-06-07T14:30:45+00:00
slug: '202306071430-chain-of-thought-verification'
is_tweet: true
tweet_info:
  id: '1666346942748844033'
  type: 'retweet'
  is_thread: False
---



RT [@arankomatsuzaki](https://x.com/arankomatsuzaki): Deductive Verification of Chain-of-Thought Reasoning

Proposes Natural Program, a natural language-based deductive rea… [continue reading](https://x.com/sytelus/status/1666346942748844033)
